$light-blue-background: rgb(235,239,242);
$head-blue: #42A5F5;
$white : #fff;
$button-blue: #29B6F6;
$dark-blue-background: #263238;
$light-gray: #757575;
$indigo: #3F51B5;
$red-text: #F44336;
$teal-text: #009688;
$blue-intro: #03A9F4; 
