<nav id="sideNav" class="sidenav">
  <ul id="sidebar-menu">
    <li>
      <a href="index.html"> <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Dashboard</a>
    </li>
    <li>
      <a href="notifications.html"> <i class="fa fa-bell-o" aria-hidden="true"></i> &nbsp; Notifications <span class="badge">6</span></a>
    </li>
    <li>
      <a href="manage-processes.html"><i class="fa fa-file-o" aria-hidden="true"></i>
&nbsp; Processes</a>
    </li>
    <li>
      <a href="users.html"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Users</a>
    </li>
    <li>
      <a href="track-document.html"> <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Track Document</a>
    </li>
    <li>
      <a href="reports.html"><i class="fa fa-files-o" aria-hidden="true"></i>
&nbsp; Reports</a>
    </li>
    <li>
      <a href="settings.html"><i class="fa fa-wrench" aria-hidden="true"></i>
&nbsp; Settings</a>
    </li>

  </ul>
</nav>
